.DS_Store

.venv/
.nox

integration_tests/dbt_internal_packages/
integration_tests/target/
integration_tests/logs/
integration_tests/dbt_packages/
integration_tests/.target-*
**/.user.yml

__pycache__/
.pytest_cache
verification_results.md
integration_tests/package-lock.yml
